@inherits LayoutComponentBase


<div class="main" style="min-height: 100vh; background-color:#ECDCB0 ">
   
    <nav class="navbar navbar-light" style="background-color: #8CC084">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color: aliceblue">
                <img src="https://thumbs.dreamstime.com/b/movie-film-company-logo-design-vector-template-movie-film-company-logo-design-inspiration-vector-template-167661473.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Movie Search Application
            </a>
        </div>
    </nav>
   
    <div class="content px-4">
        @Body
    </div>
</div>
